.block-feedback-er{
    padding: 20px;
    background-color: rgba(231, 76, 60, 0.1);
    border-radius: 12px;
    border: 5px solid;
    border-left-color: #e74c3c;
    margin-bottom: 80px;
    opacity: 0;
    pointer-events: none;
    transition: 300ms;

}

.block-feedback-er.active{
    opacity: 1;
    pointer-events: all;
}

.header-block{
    display: flex;
    align-items: start;
    

}

.fd-txt-er{
    color:#e74c3c ;
    font-size: 18px;
    font-weight: 700;
}

.icon-err{
    width: 24px;
    height: 24px;
    background-color: #e74c3c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 15px;
}

.feedback-message-er{
    color: black;
    font-size: 17px;
    font-weight: 600;
}

.feedback-list{
    /* margin-left: 20px; */
    margin-top: 10px;
}

.item-list{
    color: #666666;
    font-weight: 700;
    font-size: 17px;
    margin-top: 7px;
}