.nav-inner{
    position:fixed;
    left:50%;
    transform:translateX(-50%);
    bottom: 10px;
    width: min(740px, 100%);
    max-width:480px;
    padding:10px;
    box-sizing:border-box;
    display:flex;
    justify-content:space-around;
    pointer-events:auto;
    box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.44);
    border-radius: 70px;
    background-color: #0f1720;
    

}

.nav-btn{
    border: none;
    font-size: 10px;
    color: #9aa4b2;
    cursor: pointer;
    background-color: #0f1720;
    z-index: 100;
    
}

.nav-link.active .nav-btn{
    color: #2f80ed;
    z-index: 100;
}